<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Panel</title>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="styles/adminPanel.css">
	<script src="https://kit.fontawesome.com/abfccd6663.js" crossorigin="anonymous"></script>
</head>

<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminPanel</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/addNews">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Add News</span>
				</a>
			</li>
			<li>
				<a href="/Analytics">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="/allNews">
					<i class='bx bxs-message-dots'></i>
					<span class="text">All News</span>
				</a>
			</li>
			<li>
				<a href="/upcoming">
					<i class='bx bxs-group'></i>
					<span class="text">Upcoming Posts</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/setting">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>

			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<!-- <a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a> -->
			<a href="#" class="profile">
				<%  if(locals.admin_post){%>
				<img src="/uploads/<%= admin_post.admin_img %>">
				<%  }else{%>
				<img src="images/people.png">
				<%  }%>

			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-news'></i>
					<span class="text">
						<%  if(locals.Total_news){ %>
						<h3><%=Total_news%></h3>
						
						<% }else{ %>

							<h3>0</h3>
							<% } %>

						<p>Total Posts</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group'></i>
					<span class="text">
						<% if(locals.totalVisits){ %>
						<h3><%= totalVisits %></h3>
							<% }else{ %>

								<h3>0</h3>
								<% } %>
						<p>Visitors</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle'></i>
					<span class="text">
						<%  if(locals.upcoming_news){ %>
						<h3><%=upcoming_news%></h3>
					
						<% }else{ %>

							<h3>0</h3>
							<% } %>
						<p>Upcoming Posts</p>

					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Posts</h3>
						<!-- <i class='bx bx-search'></i>
						<i class='bx bx-filter'></i> -->
					</div>
					<table>
						<thead>
							<tr>
								<th style="text-align: center;">News Title</th>
								<th style="text-align: center;">Date Of Publish</th>
								<th style="text-align: center;">Status</th>
							</tr>
						</thead>
						<tbody>
							<% posts.forEach(function(post){ %>
								<tr>
									<td>
									  <% if (post.banner_img) { %>
										<img src="uploads\<%= post.banner_img%>">
									  <% } else { %>
										<img src="images\image-not-found.jpg"> <!-- Replace with your default image path -->
									  <% } %>
									  <% if (post.title) { %>
										<p class="title-limit"><%= post.title %></p>
									  <% } else { %>
										<p>No Title Available</p>
									  <% } %>
									</td>
									<td style="text-align: center;"><%= post.date %></td>
									<td style="text-align: center;"><span class="status completed">Uploaded</span></td>
								  </tr>
							<% }) %>
							
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="order">
						<div class="head">
							<h3>Upcoming Posts</h3>
							<!-- <i class='bx bx-search'></i>
							<i class='bx bx-filter'></i> -->
						</div>
						<table>
							<thead>
								<tr>
									<th style="text-align: center;">News Title</th>
									<th style="text-align: center;">Date Of Publish</th>
									<th style="text-align: center;">Status</th>
								</tr>
							</thead>
							<tbody>
								<% upcomingPosts.forEach(function(post){ %>
									<tr>
										<td>
										
										  <% if (post.title) { %>
											<p class="title-limit" style="width: 250px;"><%= post.title %></p>
										  <% } else { %>
											<p>No Title Available</p>
										  <% } %>
										</td>
										<td style="text-align: center;"><%= post.date %></td>
										<td style="text-align: center;"><span class="status pending">Pending</span></td>
									  </tr>
								<% }) %>
								
							</tbody>
						</table>
					</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<script src="assets/js/admin.js"></script>
</body>

</html>